{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{% static 'css-style/new-login.css' %}">
</head>
<body>
    <div class="login-container">
    <form method="post" action="{% url 'users:login_user' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Log In With Google</button>
    </form>
</div>
</body>
</html>
