<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css-style/login.css' %}">
</head>
<body>
    <main>
        <div class="right">
            <div class="content">
                <h3>Reset Password</h3>
                <form method="post">
                    {% csrf_token %}
                    <!-- {{ form.email.label_tag }} format to include label -->
                    {{ form.email }}
                    <input type="submit" value="Reset Password">
                </form>
            </div>
        </div>
    </main>
</body>
</html>
