{% extends "layout.html" %}

{% block title %}
    {{ course.title }}
{% endblock  %}

{% block content %}
    <section>
        <h1>
            <p>{{ course.body }}</p>
        </h1>  
        <p>Back to <a href="{% url 'posts:posts_list' %}">📰</a></p>
    </section>
{% endblock  %} 

<!-- add the grid container for content1 and content2 -->
<!-- display content from the database here. sample used from Post. Work In Progress  5/7/24 -->
{% block content1 %}
    <h2><a href="/">Contents</a></h2>
    <p>Contents Area</p>
    <section>
        {% for course in courses %} <!-- courses = Course.objects.all() {'courses': courses} in views.py -->
            <article>
                <h2>
                    <!-- app_name = 'fitness' -->
                    <a href="{% url 'fitness:course_page' param=course.slug %}">{{ course.title }}</a>
                    <!-- 'posts:post_page' This means the function post_page in views.py in the app posts -->
                </h2>
            </article>
        {% endfor %}
    </section>
{% endblock  %}

{% block content2 %}
    <h2><a href="/">Busness</a> Plan</h2>
    <p>Busness Area</p>
    <section>
        <h1>Fitness your Welbeing</h1>
        {% for lesson in lessons %}
            <p><a href="{% url 'fitness:lesson_page' param=lesson.slug %}">{{ lesson.name }}</a></p>
        {% endfor %}
    </section>
{% endblock  %}