{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css-style/profile-user.css' %}">
    <link rel="stylesheet" href="{% static 'css-style/profile-portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'css-style/portfolio.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">{{ title }}</h2>

        <!-- Folder Actions -->
        <form id="folder-actions-form" method="post">
            {% csrf_token %}
            <div class="folder-actions">

                <!-- Folder Actions with Icons -->
                <div class="folder-buttons mb-4">
                    <!-- Add Folder Button -->
                    <button type="button" id="add-folder-button" class="btn btn-success mr-2" data-toggle="modal" data-target="#addFolderModal">
                        <i class="fas fa-folder-plus"></i> Add Folder
                    </button>

                    <!-- Upload Image Button -->
                    <button type="button" id="upload-image-button" class="btn btn-secondary">
                        <i class="fas fa-upload"></i> Upload Image to Folder
                    </button>

                    <!-- Rename Folder Button -->
                    <button type="button" id="rename-folder-button" class="btn btn-primary mr-2">
                        <i class="fas fa-edit"></i> Rename Selected Folder
                    </button>
                    
                    <!-- Delete Folder Button -->
                    <button type="button" id="delete-folder-button" class="btn btn-danger mr-2">
                        <i class="fas fa-trash"></i> Delete Selected Folders
                    </button>

                    <!-- Generate Folder URL Button -->
                    <button type="button" id="generate-url-button" class="btn btn-info">
                        <i class="fas fa-link"></i> Generate Folder URL
                    </button>
                    <!-- Dashboard Button -->
                    <a href="{% url 'dashboard' %}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> Back to dashboard
                    </a>
                </div>

                <!-- Add Search Input Above the Folder List -->
                <div class="folder-search mb-4">
                    <input type="text" id="folder-search-input" class="form-control" placeholder="Search Folders...">
                </div>

                <!-- Folder Selection and Selected Folders Section -->
                <div class="folder-checkboxes">
                    <h3>Select Folders</h3>
                    {% for folder in folders %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input folder-checkbox" id="folder-{{ folder.id }}" name="folders" value="{{ folder.id }}">
                            <label class="form-check-label" for="folder-{{ folder.id }}">
                                <a href="{% url 'users:folder_detail' user.userprofile.profile_id folder.name folder.id %}">{{ folder.name }}</a>
                            </label>
                        </div>
                    {% endfor %}

                    <!-- Selected Folders -->
                    <div class="selected-folders mt-3">
                        <h4>Selected Folders</h4>
                        <ul id="selected-folders-list" class="list-group">
                            <!-- Selected folders will be dynamically added here -->
                        </ul>
                    </div>
                </div>
            </div>
        </form>

        <!-- Add Folder Modal -->
        <div class="modal fade" id="addFolderModal" tabindex="-1" role="dialog" aria-labelledby="addFolderModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="{% url 'users:add_folder' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="addFolderModalLabel">Add New Folder</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="folder_name">Folder Name:</label>
                                <input type="text" id="folder_name" name="folder_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Folder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Rename Folder Modal -->
        <div class="modal fade" id="renameFolderModal" tabindex="-1" role="dialog" aria-labelledby="renameFolderModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="{% url 'users:rename_folder' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="renameFolderModalLabel">Rename Folder</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="new_name">New Folder Name:</label>
                                <input type="text" id="new_name" name="new_name" class="form-control" required>
                            </div>
                            <input type="hidden" id="selected_folder_id" name="folder_id">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Rename Folder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Generate URL Modal -->
        <div class="modal fade" id="generateUrlModal" tabindex="-1" role="dialog" aria-labelledby="generateUrlModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="generateUrlModalLabel">Folder URL</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="generated_url" class="form-control" readonly>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Font Awesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Include the Search Filter Script -->
    <script>
        document.getElementById('folder-search-input').addEventListener('keyup', function() {
            let filter = this.value.toLowerCase();
            let folderItems = document.querySelectorAll('.form-check');  // Updated selector
    
            folderItems.forEach(function(item) {
                let text = item.textContent.toLowerCase();
                if (text.includes(filter)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    </script>

    <!-- Custom JS -->
    <script>
        $(document).ready(function() {
            // Handle folder checkbox change event
            $('.folder-checkbox').change(function() {
                updateSelectedFolders();
            });

            function updateSelectedFolders() {
                var selectedFoldersList = $('#selected-folders-list');
                selectedFoldersList.empty(); // Clear previous list

                $('.folder-checkbox:checked').each(function() {
                    var folderName = $(this).closest('.form-check').find('label').text().trim();
                    selectedFoldersList.append('<li class="list-group-item">' + folderName + '</li>');
                });
            }

            $('#rename-folder-button').click(function() {
                var selectedFolder = $('.folder-checkbox:checked').first();
                if (selectedFolder.length > 0) {
                    var folderId = selectedFolder.val();
                    $('#selected_folder_id').val(folderId);
                    $('#renameFolderModal').modal('show');
                } else {
                    alert('Please select a folder to rename.');
                }
            });

	    // Upload Image button click event
            $('#upload-image-button').click(function() {
                var selectedFolder = $('.folder-checkbox:checked').first();
                if (selectedFolder.length > 0) {
                    // Redirect to the upload image page
                    var uploadUrl = "{% url 'users:upload_image' %}";
                    window.location.href = uploadUrl;
                } else {
                    alert('Please select a folder to upload an image.');
                }
            });

            // Delete Folder Button
            $('#delete-folder-button').click(function() {
                var selectedFolders = $('.folder-checkbox:checked');
                if (selectedFolders.length > 0) {
                    var confirmed = confirm('Are you sure you want to delete the selected folders?');
                    if (confirmed) {
                        $('#folder-actions-form').attr('action', '{% url "users:delete_folders" %}');
                        $('#folder-actions-form').submit();
                    }
                } else {
                    alert('Please select a folder to delete.');
                }
            })

            // Update the URL generation in the portfolio.html
            $('#generate-url-button').click(function() {
                var selectedFolder = $('.folder-checkbox:checked').first();
                if (selectedFolder.length > 0) {
                    var folderId = selectedFolder.val();
                    var folderName = selectedFolder.closest('.form-check').find('label').text().trim();
                    var profileId = '{{ user.userprofile.profile_id }}';
            
                    // Correctly build the base URL
                    var baseUrl = window.location.origin + '/users'; // Ensure only one '/users' is added
            
                    var publicUrl = baseUrl + '/portfolio/' + profileId + '/' + encodeURIComponent(folderName) + '/' + folderId + '/view/';
                    $('#generated_url').val(publicUrl);
                    $('#generateUrlModal').modal('show');
                } else {
                    alert('Please select a folder to generate the URL.');
                }
            });
        });
    </script>
</body>
</html>
