{% extends 'layout.html' %}
{% load static %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Upload Image</h2>
    <form id="uploadForm" method="post" enctype="multipart/form-data" class="mb-4" data-redirect-url="{% url 'dashboard' %}">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.image.label_tag }} {{ form.image }}
      </div>
      <div class="mb-3">
        {{ form.description.label_tag }} {{ form.description }}
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}
