{% load static %}
{% load form_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{% static 'css-style/image-upload.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Upload Image</h2>
          </div>
          <div class="card-body">
            <form id="uploadForm" method="post" enctype="multipart/form-data" action="{% url 'users:upload_image' %}" data-redirect-url="{% url 'users:portfolio' %}">
              {% csrf_token %}
              <div class="form-group mb-3">
                {{ form.image.label_tag }} 
                {{ form.image|add_class:"form-control" }}
              </div>
              <div class="form-group mb-3">
                {{ form.description.label_tag }} 
                {{ form.description|add_class:"form-control" }}
              </div>
              <div class="form-group mb-3">
                <label for="id_folder">Selected Folders</label>
                {% if selected_folders %}
                    {% for folder in selected_folders %}
                        <input type="text" class="form-control mb-2" value="{{ folder.name }}" readonly>
                        <input type="hidden" name="folders" value="{{ folder.id }}">
                    {% endfor %}
                {% endif %}
                <!-- Render the select element if folders are not selected -->
                {% if not selected_folders %}
                    {{ form.folder|add_class:"form-control" }}
                {% endif %}
              </div>
              
              <button type="submit" class="btn btn-primary w-70">Upload</button>
              <a href="{% url 'users:portfolio' %}" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Back to Portfolio
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block extra_scripts %}
    <script src="{% static 'js/portfolio.js' %}"></script>
  {% endblock %}
</body>
</html>
