/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f0f2f5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Form Wrapper */
.form-wrapper {
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

p {
    margin-bottom: 20px;
    color: #666;
}

/* Form Group */
.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    width: calc(100% - 60px); /* Adjust for icon padding */
    padding: 10px 40px 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #4a90e2;
    outline: none;
}

.form-group i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

/* Submit Button */
.form-submit {
    width: 100%;
    padding: 12px 0;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-submit:hover {
    background-color: #357ABD;
}

.toggle-password {
    position: absolute;
    right: 0.75rem; /* Position the icon inside the input */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.5rem;
}

.toggle-password i {
    color: #555; /* Customize icon color */
    font-size: 1rem; /* Customize icon size */
}

/* Responsive Design */
@media (max-width: 480px) {
    .container {
        padding: 15px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
}
