.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slider {
    display: flex;
    width: 400%;
    animation: slide 16s linear infinite;
}

.slider img {
    width: 25%;
    flex-shrink: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(-100%);
    }
}