<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css-style/login.css' %}">
    <title>Login</title>
</head>
<body>
    <main>
        <div class="right">
            <div class="content">
                <div class="top_div">
                    <h4>Login to your account</h4>
                    <!-- form -->
                    <form id="myForm" action="{% url 'users:login_user' %}" method="post">
                        {% csrf_token %}
                        <div class="full_width">
                            {{ form.non_field_errors }}
                            <input type="text" name="username" id="username" placeholder="Username" required />
                            {{ form.username.errors }}
                            <input type="password" name="password" id="password" placeholder="Password" required />
                            {{ form.password.errors }}
                        </div>
                        <input type="submit" value="Login" />
                    </form>
                    <div id="message"></div>
                </div>
                <div class="account-forgot-container">
                    <p id="account">
                        Don't have an account?
                        <span><a href="{% url 'users:register' %}">Sign Up</a></span>
                    </p>
                    <div class="forgot">
                        <a href="{% url 'users:password_reset' %}">
                            <p>Forgot Password?</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
