{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Send Message</title>
    <link rel="stylesheet" href="{% static 'css-style/send-message.css' %}">
    <!-- Include Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        <h1>Send Message</h1>
        <form id="send-message-form" method="post">
            {% csrf_token %}
            <label for="conversation">Conversation ID:</label>
            <input type="text" id="conversation" name="conversation_id" required>

            <label for="text">Message:</label>
            <textarea id="text" name="text" rows="5" required></textarea>
            
            <button type="submit">Send</button>
        </form>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#recipient').select2();

            $('#send-message-form').on('submit', function(event) {
                event.preventDefault();
                $.ajax({
                    url: "{% url 'users:send_message_ajax' %}",
                    type: "POST",
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.status === 'ok') {
                            alert('Message sent successfully.');
                            $('#text').val('');  // Clear the textarea
                        } else {
                            alert('Error sending message.');
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('An error occurred: ' + error);
                    }
                });
            });
        });
    </script>
</body>
</html>
