{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="{% static 'css-style/user_list.css' %}">
</head>
<body>
    <div class="container">
        <h1>User List</h1>
        <ul class="user-list">
            {% for user in users %}
                <li class="user-item">
                    <a href="{% url 'users:profile_detail' profile_id=user.profile_id %}">
                        <img src="{{ user.profile_image.url }}" alt="{{ user.user.username }}'s profile picture" class="profile-picture">
                        <span class="username">{{ user.user.username }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>

        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
</body>
</html>
