{% extends "layout.html" %}

{% block title %}
    service 
{% endblock  %}

{% block content %}
    <section>
        <h1>Available Images</h1>
        <div class="image-gallery">
            {% for image in images %}
                <img src="{{ image.image.url }}" alt="{{ image.title }}" width="150">
            {% endfor %}
        </div>
    </section>
    <p>check the logo <a href="{% url "image-logo" %}">click</a></p>
{% endblock  %}

<!-- add the grid container for content1 and content2 -->
{% block content1 %}
    <h2><a href="/">Contents</a></h2>
    <p>Contents Area</p>
{% endblock  %}

{% block content2 %}
    <h2><a href="/">Busness</a> Plan</h2>
    <p>Busness Area</p>
{% endblock  %}
