{% extends "layout.html" %}

{% block content %}
  <h1>Confirm Delete</h1>
  <p>Are you sure you want to delete "{{ object }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Confirm</button>
    <a href="{% url 'dashboard' %}">Cancel</a>
  </form>
{% endblock %}

{% block content1 %}
    <h2>Delete Post</h2>
    <div class="content2-container">
        <img 
            class="image-animation" 
            src="/media/delete/delete3.jpg" alt="delete image" aria-label="delete image" title="delete image"
        >
    </div>
{% endblock %}

{% block content2 %}
    <h2>Delete Post</h2>
    <div class="content2-container">
        <img 
            class="image-animation" 
            src="/media/delete/delete2.jpg" alt="delete image" aria-label="delete image" title="delete image"
        >
    </div>
{% endblock %}